body {
  background: #1D1E22;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: bold;
  color: #FF00B2;
}
@keyframes bang {
  from {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
.hoverme {
  width: 340px;
  margin:150px auto 0;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  position: relative;
  span {
    color: rainbow;
    font-size: .9em;
  }
  i {
    position: absolute;
    display: block;
    left: 50%;
    right: 50%;
    top: 10;
    width: 3px;
    height: 5px;
    background: red;
    opacity: 0;
  }
  &:hover {
    @for $i from 1 through 50 {
      i:nth-of-type(#{$i}) {
        transform: translate3d(random(190) - 100 + px,random(50) - 100 + px,0) rotate(random(360) + deg);
        background: hsla(random(360),100%,50%,1);
        animation: bang 2000ms ease-out forwards;
        opacity: 0;
      }
    }
  }
}